.tui-border-solid {
    border: 2px solid !important;
}

.tui-border-dashed {
    border: 2px dashed !important;
}

.tui-border-dotted {
    border: 2px dotted !important;
}

.tui-border-double {
    border: 6px double !important;
}