.tui-border-solid {
    border-style: solid !important;
    border-width: 2px !important;
}

.tui-border-dashed {
    border-style: dashed !important;
    border-width: 2px !important;
}

.tui-border-dotted {
    border-style: dotted !important;
    border-width: 2px !important;
}

.tui-border-double {
    border-style: double !important;
    border-width: 6px !important;
}