@import '../mixins.scss';

.tui-nav {
    width: 100%;
    background-color: rgb(168, 168, 168);
    padding: 0px 2px;
    z-index: 9;
    display: block;
    position: fixed;
}
.tui-nav ul li {
    display: inline-block;
    margin-left: 10px;
    padding: 1px 3px;
}
.tui-nav ul li a {
    display: block;
    @include disable-select;
}
.tui-nav ul li:hover {
    background-color: rgb(0, 168, 0);
}