.tui-screen-640-480 {
    width: 640px;
    height: 480px;
}
.tui-screen-800-600 {
    width: 800px;
    height: 600px;
}
.tui-screen-1024-768 {
    width: 1024px;
    height: 768px;
}

.tui-screen-640-480,
.tui-screen-800-600,
.tui-screen-1024-768 {
    position: relative;
    overflow: hidden;
    &.bordered{
        border: 2px solid black;
    }
    &.centered {
        margin: auto;
        margin-top: 20px;
    }
}