.tui-texturized-blue-white { background-image: url('./images/bg-blue-white.png'); background-repeat: repeat; }
.tui-texturized-blue-black { background-image: url('./images/bg-blue-black.png'); background-repeat: repeat; }

.tui-texturized-green-white { background-image: url('./images/bg-green-white.png'); background-repeat: repeat; }
.tui-texturized-green-black { background-image: url('./images/bg-green-black.png'); background-repeat: repeat; }

.tui-texturized-cyan-white { background-image: url('./images/bg-cyan-white.png'); background-repeat: repeat; }
.tui-texturized-cyan-black { background-image: url('./images/bg-cyan-black.png'); background-repeat: repeat; }

.tui-texturized-red-white { background-image: url('./images/bg-red-white.png'); background-repeat: repeat; }
.tui-texturized-red-black { background-image: url('./images/bg-red-black.png'); background-repeat: repeat; }

.tui-texturized-purple-white { background-image: url('./images/bg-purple-white.png'); background-repeat: repeat; }
.tui-texturized-purple-black { background-image: url('./images/bg-purple-black.png'); background-repeat: repeat; }

.tui-texturized-yellow-white { background-image: url('./images/bg-yellow-white.png'); background-repeat: repeat; }
.tui-texturized-yellow-black { background-image: url('./images/bg-yellow-black.png'); background-repeat: repeat; }