.tui-textarea {
    background-color: inherit;
    border: none;
    padding: 0px;
    color: rgb(255, 255, 0);
    outline: none;
    &.disabled {
        background-color: rgb(168, 168, 168);
        color: black;
    }
}